*{
	margin:0;
	padding:0;
	font-family:san-serif;
}
.field img{
	width:100vh;
	position:absolute;
	left:55vh;
	top:0vh;
}
#select{
	width:10vh;
	position:fixed;
	left:190vh;
	top:0vh;
	z-index:2;
	color:blue;
	cursor:pointer;
}
#si{
	width:138vh;
	height:100vh;
	position:fixed;
	left:35vh;
	top:-150vh;
	z-index:2;
	background:rgba(0,0,0,0.6);
	transition:.5s;
	
	
}
nav ul li{
	list-style:none;
	margin:12vh 50vh;
}
nav ul li a{
	text-decoration:none;
	color:white;
	font-size:50vh italic;
}
nav ul li a:hover{
	color:#69FBF4;
}
.search input{
	width:25vh;
	height:5vh;
	position:absolute;
	left:100vh;
	top:10vh;
	border-radius:35px;
	
	border:0.5vh solid blue;
	
}
.runningmatch{
    width:100vh;	
   height:20vh;
   position:absolute;
   left:55vh;
   top:37vh;
   border-radius:0vh;
    background-image:linear-gradient(to right,blue,black,black,lime);
}
.runningmatch p{
	width:50vh;
	position:absolute;
	left:4vh;
	top:1vh;
	color:white;
	font-size:2vh;
}
.runningmatch h6{
	width:30vh;
	position:absolute;
	left:5vh;
	top:17vh;
	color:lime;
	font-size:2vh;
}
.runningmatch em{
	
	width:15vh;
	position:absolute;
	left:6vh;
	top:5vh;
	font-size:5vh;
	color:white;
}
.runningmatch h4{
	width:25vh;
	position:absolute;
	left:60vh;
	top:5vh;
	font-size:5vh;
	color:silver;
}

.runningmatch h5{
	width:20vh;
	position:absolute;
	left:90vh;
	top:1vh;
	font-size:2vh;
	color:white;
}
.match{
	width:30vh;
	position:absolute;
	left:155vh;
	top:20vh;
    background:none;
}
.match h4{
	width:50vh;
	margin:2vh 2vh;
	font-size:2vh;
	
	
	
}
.match h6{
	font-size:2vh;
	margin-left:2vh;
	margin-top:2vh;
	
}
.match h3{
	width:30vh;
	position:absolute;
	left:13vh;
	top:-7vh;
	color:silver;
	font-size:3vh;
	background:none;
}
.match2{
	width:30vh;
	position:absolute;
	left:180vh;
	top:20vh;
    background:none;
}
.match2 h4{
	width:20vh;
	margin:2vh 7vh;
	font-size:2vh;
	background:none;
	
	
}
.match2 h6{
	width:15vh;
	font-size:2vh;
	margin-left:7vh;
	margin-top:2vh;
	background:none;
}
.match3{
	width:30vh;
	position:absolute;
	left:1vh;
	top:20vh;
    background:none;
}
.match3 h4{
	width:50vh;
	margin:2vh 2vh;
	font-size:2vh;
	
	
}
.match3 h6{
	font-size:2vh;
	margin-left:2vh;
	margin-top:2vh;
	
}
.match3 h3{
	width:40vh;
	position:absolute;
	left:12vh;
	top:-7vh;
	color:silver;
	font-size:3vh;
	background:none;
}
.match4{
	width:30vh;
	position:absolute;
	left:27vh;
	top:20vh;
    background:none;
}

.match4 h4{
	width:20vh;
	margin:2vh 7vh;
	font-size:2vh;
	background:none;
	
	
}
.match4 h6{
	width:15vh;
	font-size:2vh;
	margin-left:7vh;
	margin-top:2vh;
	background:none;
}
.momatch em{
	width:40vh;
	position:absolute;
	left:90vh;
	top:80vh;
	text-align:center;
	color:silver;
	font-size:3vh;
}

#counting{
	width:50vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white;
	font-size:2vh;
}
.line1{
   width:100vh;	
   height:20vh;
   position:absolute;
   left:0vh;
   top:15vh;
   border-radius:0vh;
    background-image:linear-gradient(to right,blue,black,black,lime);
}
.line1 p{
	width:50vh;
	position:absolute;
	left:4vh;
	top:1vh;
	color:white;
	font-size:2vh;
}
.line1 h6{
	width:30vh;
	position:absolute;
	left:5vh;
	top:17vh;
	color:red;
	font-size:2vh;
}
.line1 em{
	width:15vh;
	position:absolute;
	left:6vh;
	top:5vh;
	font-size:5vh;
	color:white;
}
.line1 h4{
	width:25vh;
	position:absolute;
	left:60vh;
	top:5vh;
	font-size:5vh;
	color:silver;
}

.line1 h5{
	width:20vh;
	position:absolute;
	left:90vh;
	top:1vh;
	font-size:2vh;
	color:white;
}
.line2{
   width:100vh;	
   height:20vh;
   position:absolute;
   left:101vh;
   top:15vh;
   border-radius:0vh;
    background-image:linear-gradient(to right,blue,black,black,lime);
}
.line2 p{
	width:50vh;
	position:absolute;
	left:4vh;
	top:1vh;
	color:white;
	font-size:2vh;
}
.line2 h6{
	width:30vh;
	position:absolute;
	left:5vh;
	top:17vh;
	color:red;
	font-size:2vh;
}
.line2 em{
	width:15vh;
	position:absolute;
	left:6vh;
	top:5vh;
	font-size:5vh;
	color:white;
}
.line2 h4{
	width:25vh;
	position:absolute;
	left:60vh;
	top:5vh;
	font-size:5vh;
	color:silver;
}

.line2 h5{
	width:20vh;
	position:absolute;
	left:90vh;
	top:1vh;
	font-size:2vh;
	color:white;
}
.line3{
   width:100vh;	
   height:20vh;
   position:absolute;
   left:202vh;
   top:15vh;
   border-radius:0vh;
    background-image:linear-gradient(to right,blue,black,black,lime);
}
.line3 p{
	width:50vh;
	position:absolute;
	left:4vh;
	top:1vh;
	color:white;
	font-size:2vh;
}
.line3 h6{
	width:30vh;
	position:absolute;
	left:5vh;
	top:17vh;
	color:red;
	font-size:2vh;
}
.line3 em{
	width:15vh;
	position:absolute;
	left:6vh;
	top:5vh;
	font-size:5vh;
	color:white;
}
.line3 h4{
	width:25vh;
	position:absolute;
	left:60vh;
	top:5vh;
	font-size:5vh;
	color:silver;
}

.line3 h5{
	width:20vh;
	position:absolute;
	left:90vh;
	top:1vh;
	font-size:2vh;
	color:white;
}
.line4{
   width:100vh;	
   height:20vh;
   position:absolute;
   left:304vh;
   top:15vh;
   border-radius:0vh;
    background-image:linear-gradient(to right,blue,black,black,lime);
}
.line4 p{
	width:50vh;
	position:absolute;
	left:4vh;
	top:1vh;
	color:white;
	font-size:2vh;
}
.line4 h6{
	width:30vh;
	position:absolute;
	left:5vh;
	top:17vh;
	color:red;
	font-size:2vh;
}
.line4 em{
	width:15vh;
	position:absolute;
	left:6vh;
	top:5vh;
	font-size:5vh;
	color:white;
}
.line4 h4{
	width:25vh;
	position:absolute;
	left:60vh;
	top:5vh;
	font-size:5vh;
	color:silver;
}

.line4 h5{
	width:20vh;
	position:absolute;
	left:90vh;
	top:1vh;
	font-size:2vh;
	color:white;
}
.show{
	overflow:hidden;
	height:50vh;
	width:100vh;
	position:absolute;
	left:55vh;
	top:43vh;
}
.show figure {
	float:left;
	width:50vh;
	position:relative;
	left:0vh;
	animation: 20s line infinite;
}
@keyframes line{
	0%{
		left:0vh;
	}
	15%{
		left:0vh;
	}
	30%{
		left:-101vh;
	}
	45%{
		left:-101vh;
	}
	60%{
		left:-202vh;
	}
	75%{
		left:-202vh;
	}
	90%{
		left:-304vh;
	}
	100%{
		left:-304vh;
	}
	
	
}
.g img{
	width:30vh;
	position:absolute;
	left:2vh;
	top:2vh;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	 border:0.5vh solid white;
	border-radius:20px;
}
@media screen and (orientation: portrait)
{
	.field img{
	width:100vw;
	position:absolute;
	left:0vw;
	top:12vw;
}
.runningmatch{
   width:100vw;	
   height:28vw;
   position:absolute;
   left:0vw;
   top:41vw;
   border-radius:1vw;
  background-image:linear-gradient(to right,blue,black,black,lime);
}
.runningmatch p{
	width:50vw;
	position:absolute;
	left:2vw;
	top:1vw;
	color:white;
	font-size:3.5vw;
}
.runningmatch h6{
	width:50vw;
	position:absolute;
	left:4vw;
	top:22vw;
	color:lime;
	font-size:3vw;
}
.runningmatch em{
	width:40vw;
	position:absolute;
	left:4vw;
	top:6vw;
	font-size:6vw;
	color:white;
	
}
.runningmatch h4{
	width:40vw;
	position:absolute;
	left:55vw;
	top:7.5vw;
	font-size:6vw;
	color:silver;
}

.runningmatch h5{
	width:20vw;
	position:absolute;
	left:80vw;
	top:1vw;
	font-size:2vw;
	color:white;
}
.g img{
	width:45vw;
	position:absolute;
	left:0vw;
	top:1vw;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:0.5vh solid white;
	border-radius:20px;
}	

.match{
	width:30vw;
	position:absolute;
	left:0vw;
	top:120vw;
 background:white;
}
.match h4{
	width:40vw;
	margin:3vw 3vw;
	font-size:3vw;
	
}
.match h6{
	font-size:3vw;
	margin-left:3vw;
	margin-top:-2vw;
	
}
.match h3{
	width:30vw;
	position:absolute;
	left:35vw;
	top:-7vw;
	color:silver;
	font-size:3vw;
}
.match3{
	width:30vw;
	position:absolute;
	left:0vw;
	top:165vw;
 background:white;
}
.match3 h4{
	width:40vw;
	margin:3vw 3vw;
	font-size:3vw;
	
}
.match3 h6{
	font-size:3vw;
	margin-left:3vw;
	margin-top:-2vw;
	
}
.match3 h3{
	width:50vw;
	position:absolute;
	left:32vw;
	top:-7vw;
	color:silver;
	font-size:3vw;
}
.match2{
	width:20vw;
	position:absolute;
	left:67vw;
	top:120vw;
 background:white;
}
.match2 h4{
	width:30vw;
	margin:3vw 2vw;
	font-size:3vw;
	
}
.match2 h6{
	font-size:3vw;
	margin-left:2vw;
	margin-top:-2vw;
	
}
.match4{
	width:20vw;
	position:absolute;
	left:67vw;
	top:165vw;
 background:white;
}
.match4 h4{
	width:30vw;
	margin:3vw 2vw;
	font-size:3vw;
	
}
.match4 h6{
	font-size:3vw;
	margin-left:2vw;
	margin-top:-2vw;
	
}
.momatch em{
	width:40vw;
	position:absolute;
	left:30vw;
	top:102vw;
	color:silver;
	font-size:3vw;
	text-align:center;
}

#select{
	width:13vw;
	position:fixed;
	left:88vw;
	top:0vh;
	z-index:2;
	color:blue;
	cursor:pointer;
}

#si{
	width:100vw;
	height:100vw;
	position:fixed;
	top:-300vw;
	left:0vh;
	z-index:2;
	background:silver;
	transition:.7s;
	
}
nav ul li{
	list-style:none;
	margin:10vw 10vw;
}
nav ul li a{
	text-decoration:none;
	color:brown;
	font-size:2vw italic;
}
nav ul li a:hover{
	color:#69FBF4;
}
.line1{
   width:95vw;	
   height:28vw;
   position:absolute;
   left:1vw;
   top:15vw;
   border-radius:1vw;
   background-image:linear-gradient(to right,blue,black,black,lime);
}
.line1 p{
	width:50vw;
	position:absolute;
	left:2vw;
	top:1vw;
	color:white;
	font-size:3.5vw;
}
.line1 h6{
	width:20vw;
	position:absolute;
	left:4vw;
	top:22vw;
	color:yellow;
	font-size:3vw;
}
.line1 em{
	width:40vw;
	position:absolute;
	left:4vw;
	top:7vw;
	font-size:6vw;
	color:white;
}
.line1 h4{
	width:40vw;
	position:absolute;
	left:55vw;
	top:7.5vw;
	font-size:6vw;
	color:silver;
}
#counting{
	width:40vw;
	position:absolute;
	left:30vw;
	top:1vw;
	font-size:3vw;
	color:lime;
}
.line1 h5{
	width:20vw;
	position:absolute;
	left:80vw;
	top:1vw;
	font-size:2vw;
	color:white;
}
.line2{
   width:95vw;	
   height:28vw;
   position:absolute;
   left:98vw;
   top:15vw;
   border-radius:1vw;
    background-image:linear-gradient(to right,blue,black,black,lime);
}
.line2 p{
	width:50vw;
	position:absolute;
	left:2vw;
	top:1vw;
	color:white;
	font-size:3.5vw;
}
.line2 h6{
	width:20vw;
	position:absolute;
	left:4vw;
	top:22vw;
	color:red;
	font-size:3vw;
}
.line2 em{
	width:40vw;
	position:absolute;
	left:4vw;
	top:7vw;
	font-size:6vw;
	color:white;
}
.line2 h4{
	width:40vw;
	position:absolute;
	left:55vw;
	top:7.5vw;
	font-size:6vw;
	color:silver;
}

.line2 h5{
	width:20vw;
	position:absolute;
	left:80vw;
	top:1vw;
	font-size:2vw;
	color:white;
}

.line3{
   width:95vw;	
   height:28vw;
   position:absolute;
   left:195vw;
   top:15vw;
   border-radius:1vw;
   background-image:linear-gradient(to right,blue,black,black,lime);
}
.line3 p{
	width:50vw;
	position:absolute;
	left:2vw;
	top:1vw;
	color:white;
	font-size:3.5vw;
}
.line3 h6{
	width:20vw;
	position:absolute;
	left:4vw;
	top:22vw;
	color:red;
	font-size:3vw;
}
.line3 em{
	width:40vw;
	position:absolute;
	left:4vw;
	top:7vw;
	font-size:6vw;
	color:white;
}
.line3 h4{
	width:40vw;
	position:absolute;
	left:55vw;
	top:7.5vw;
	font-size:6vw;
	color:silver;
}

.line3 h5{
	width:20vw;
	position:absolute;
	left:80vw;
	top:1vw;
	font-size:2vw;
	color:white;
}
.line4{
   width:95vw;	
   height:28vw;
   position:absolute;
   left:292vw;
   top:15vw;
   border-radius:1vw;
  background-image:linear-gradient(to right,blue,black,black,lime);
}
.line4 p{
	width:50vw;
	position:absolute;
	left:2vw;
	top:1vw;
	color:white;
	font-size:3.5vw;
}
.line4 h6{
	width:20vw;
	position:absolute;
	left:4vw;
	top:22vw;
	color:red;
	font-size:3vw;
}
.line4 em{
	width:40vw;
	position:absolute;
	left:4vw;
	top:7vw;
	font-size:6vw;
	color:white;
}
.line4 h4{
	width:40vw;
	position:absolute;
	left:55vw;
	top:7.5vw;
	font-size:6vw;
	color:silver;
}

.line4 h5{
	width:20vw;
	position:absolute;
	left:80vw;
	top:1vw;
	font-size:2vw;
	color:white;
}
.show{
	overflow:hidden;
	height:50vw;
	width:98vw;
	position:absolute;
	left:1vw;
	top:55vw;
}

.show figure {
	float:left;
	width:1vw;
	position:relative;
	left:0vh;
	animation: 10s line infinite;
}
@keyframes line{
	0%{
		left:0vh;
	}
	20%{
		left:0vw;
	}
	30%{
		left:-96vw;
	}
	45%{
		left:-96vw;
	}
	60%{
		left:-193vw;
	}
	75%{
		left:-193vw;
	}
	85%{
		left:-290vw;
	}
	100%{
		left:-290vw;
	}
	
	
}



}
