body{
	margin:2vh 5vh;
	padding:5vh;
	font-family:san-serif;
	background:white;
}
h1{
	width:100%;
	height:4%;
	color:white;
 position:absolute;
 left:0vh;
 top:8vh;
 font-size:3vh;
 text-align:center;
 background:rgba(0,0,0,0.6);
}
.g img{
	width:40vh;
	position:absolute;
	left:0vh;
	top:1vh;
	display:white;
	background:none;
	border-radius:20vh;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}
main{
	margin-left:10vh;
	margin-top:10vh;
}
.img{
	display:block;
	float:left;
	width:25vh;
	padding:2vh;
	padding-left:6vh;

}
img{
	width:80%;
	border-radius:3vh;
}
@media screen and (max-width:1200px)
{
body{
	margin:11vw 1vw;
	padding:5vw;
	font-family:san-serif;
	background:white;
}
	h1{
	width:100vw;
	color:white;
 position:absolute;
 left:0vw;
 top:10vw;
 font-size:5vw;
 text-align:center;
 background:rgba(0,0,0,0.6);
}
.g img{
	width:45vw;
	position:absolute;
	left:1vw;
	top:1vw;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:0.6vw solid white;
	border-radius:20px;
}
main{
	margin-left:0vh;
	margin-top:5vw;
}
.img{
	display:block;
	float:left;
	width:30vw;
	padding:2vw;
	padding-left:2vw;

}
img{
	width:30vw;
	border-radius:4vw;
}
}
