
body{
	margin:0vh;
	padding:0vh;
	
}

.messi{
	background:none;
}
.messi img{
	width:70vh;
	height:70vh;
	position:absolute;
	left:13vh;
	top:16vh;
	display:white;
	font-size:10vh;
	background:none;
	border-radius:10vh;
	
}
.r img{
	width:205vh;
	
}
.g img{
	width:40vh;
	position:absolute;
	left:111vh;
	top:32vh;
	display:white;
	background:none;
	border-radius:20vh;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}
.text em{
	width:60vh;
	height:10vh;
	position:absolute;
	left:105vh;
	top:50vh;
	font-size:3vh;
	display:white;
	background:none;
	
}
.next h4{
	width:25vh;
	height:8vh;
	position:absolute;
	left:120vh;
	top:68vh;
	font-size:2vh;
	text-align:center;
	color:white;
	background:black;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}


.fix h2{
	width:25vh;
	position:absolute;
	left:92vh;
	top:16vh;
	display:blue;
	font-size:3vh;
	background:none;
	font-size-adjust:10vh;
}
.lea h2{
	width:20vh;
	position:absolute;
	left:118vh;
	top:16vh;
	display:blue;
	font-size:3vh;
	background:none;
}
.play h2{
	width:10vh;
	position:absolute;
	left:140vh;
	top:16vh;
	font-size:3vh;
	display:blue;
	background:none;
}
.ranking h2{
	width:20vh;
	position:absolute;
	left:150vh;
	top:16vh;
	font-size:3vh;
	display:blue;
	background:none;
}
.na h3{
	width:20vh;
	position:absolute;
	left:115vh;
	top:90vh;
	font-size:2vh;
	background:none;
}
nav ul li{
	list-style:none;
	margin:0px 0px;
}
nav ul li a{
	text-decoration:none;
	color:white;
	font-size:0px italic;
}
#si{
	width:0;
	height:0;
	position:fixed;
	right:0;
	top:0;
	z-index:0;
	transition:0;
	
	
}
#me{
	width:0px;
	position:fixed;
	left:-100vh;
	top:-100vh;
	z-index:0;
	cursor:pointer;
}
.line{
	position:absolute;
	top:-100vh;
	
}
@media screen and (max-width:100vh)

{

.messi img{
	width:100vw;
	position:absolute;
	left:0vw;
	top:-7vw;
	display:white;
	background:none;
	border-radius:10px;
	
}
.r img{
	width:0vh;
	}
	
.next h4{
	width:45vw;
	height:12vw;
	position:absolute;
	left:28vw;
	top:140vw;
	text-align:center;
	color:white;
	font-size:3vw;
	background:black;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}


.fix h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	display:blue;
	font-size:0vh;
	background:none;
}
.lea h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	display:blue;
	font-size:0vh;
	background:none;
}
.play h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	font-size:0vh;
	display:blue;
	background:none;
}
.ranking h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	font-size:0vh;
	display:blue;
	background:none;
}

.text em{
	width:60vw;
	position:absolute;
	left:17vw;
	top:126vw;
	display:white;
	font-size:3vw;
	background:none;
}
.na h3{
	width:25vw;
	position:absolute;
	left:45vw;
	top:160vw;
	font-size:2.5vw;
	background:none;
}
nav ul li{
	width:50vw;
	list-style:none;
	margin:10vw 7vw;


}
nav ul li a{
	text-decoration:none;
	color:darkblue;
	font-size:3vw;
	 
	
	
}
#si{
	width:100vw;
	height:100vw;
	position:fixed;
	right:-500vw;
	top:0vh;
	z-index:2;
	background:white;
	transition:.7s;
	
}
#me{
	width:13vw;
	position:fixed;
	left:85vw;
	top:0vh;
	z-index:2;
	color:blue;
	cursor:pointer;
}
.g img{
	width:45vw;
	position:absolute;
	left:1vw;
	top:1vw;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:.7vw solid white;
	border-radius:20vw;
}
.line{
	overflow:hidden;
	height:20vw;
	width:90vw;
	position:absolute;
	left:10vw;
	top:105vw;
}

.line p{
	float:left;
	width:90vw;
	position:relative;
	color:blue;
	left:0vh;
	animation: 10s line infinite;
}
	@keyframes line{
		0%{
			
			left:0vw;
		}
		100%{
			left:-90vw;
		}
		
	}

	
}
	
