body{
	margin:2vh 5vh;
	padding:5vh;
	font-family:san-serif;
	background:white;
}
h1{
	width:100%;
	height:4%;
	color:white;
 position:absolute;
 left:0vh;
 top:8vh;
 font-size:3vh;
 text-align:center;
 background:rgba(0,0,0,0.6);
}
.g img{
	width:40vh;
	position:absolute;
	left:0vh;
	top:1vh;
	display:white;
	background:none;
	border-radius:20vh;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}
main{
	margin-left:10vh;
	margin-top:10vh;
}
.img{
	display:block;
	float:left;
	width:25vh;
	padding:2vh;
	padding-left:6vh;

}
img{
	width:80%;
	border-radius:3vh;
}
@media screen and (max-width:100vh)
{
body{
	margin:8vh 1vh;
	padding:3vh;
	font-family:san-serif;
	background:white;
}
	h1{
	width:100%;
	color:white;
 position:absolute;
 left:0vh;
 top:7vh;
 font-size:3vh;
 text-align:center;
 background:rgba(0,0,0,0.6);
}
.g img{
	width:45%;
	position:absolute;
	left:1vh;
	top:1vh;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:0.5vh solid white;
	border-radius:20px;
}
main{
	margin-left:0vh;
	margin-top:3vh;
}
.img{
	display:block;
	float:left;
	width:32%;
	padding:2vh;
	padding-left:2vh;

}
img{
	width:100%;
	border-radius:3vh;
}
}
