
body{
	margin:1vh;
	padding:1vh;
	font-family:san-serif;
	background:white;
}
#ad{
	width:100vh;
	height:10vh;
	
}

.messi{
	background:white;
}
.messi img{
	width:70vh;
	height:70vh;
	position:absolute;
	left:13vh;
	top:16vh;
	display:white;
	font-size:10vh;
	background:white;
	border-radius:10vh;
	
}
.r img{
	width:200vh;
}
.g img{
	width:50vh;
	position:absolute;
	left:105vh;
	top:32vh;
	display:white;
	background:none;
}
.text p{
	width:65vh;
	height:10vh;
	position:absolute;
	left:98vh;
	top:47vh;
	font-size:3vh;
	display:white;
	background:none;
}
.next h4{
	width:25vh;
	height:8vh;
	position:absolute;
	left:120vh;
	top:68vh;
	font-size:2vh;
	text-align:center;
	color:white;
	background:black;
}


.fix h2{
	width:25vh;
	position:absolute;
	left:92vh;
	top:16vh;
	display:blue;
	font-size:3vh;
	background:none;
	font-size-adjust:10vh;
}
.lea h2{
	width:20vh;
	position:absolute;
	left:118vh;
	top:16vh;
	display:blue;
	font-size:3vh;
	background:none;
}
.play h2{
	width:10vh;
	position:absolute;
	left:140vh;
	top:16vh;
	font-size:3vh;
	display:blue;
	background:none;
}
.ranking h2{
	width:30vh;
	position:absolute;
	left:150vh;
	top:16vh;
	font-size:3vh;
	display:blue;
	background:none;
}
.na h3{
	width:18vh;
	position:absolute;
	left:100vh;
	top:90vh;
	font-size:3vh;
	background:none;
}
nav ul li{
	list-style:none;
	margin:0px 0px;
}
nav ul li a{
	text-decoration:none;
	color:white;
	font-size:0px italic;
}
#si{
	width:0;
	height:0;
	position:fixed;
	right:0;
	top:0;
	z-index:0;
	transition:0;
	
	
}
#me{
	width:0px;
	position:fixed;
	left:-100vh;
	top:-100vh;
	z-index:0;
	cursor:pointer;
}
.line{
	position:absolute;
	top:-100vh;
	
}
@media screen and (max-width:1200px)

{

.messi img{
	width:100%;
	height:55%;
	position:absolute;
	left:0vh;
	top:5vh;
	display:white;
	background:none;
	border-radius:10px;
	
}
.r img{
	width:0vh;
	}
	
.next h4{
	width:40%;
	height:7vh;
	position:absolute;
	left:32%;
	top:82vh;
	text-align:center;
	color:white;
	font-size:2vh;
	background:black;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}


.fix h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	display:blue;
	font-size:0vh;
	background:none;
}
.lea h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	display:blue;
	font-size:0vh;
	background:none;
}
.play h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	font-size:0vh;
	display:blue;
	background:none;
}
.ranking h2{
	width:0vh;
	position:absolute;
	left:0vh;
	top:0vh;
	font-size:0vh;
	display:blue;
	background:none;
}

.text p{
	width:85%;
	position:absolute;
	left:10%;
	top:70vh;
	display:white;
	font-size:2vh;
	background:none;
}
.na h3{
	width:25%;
	position:absolute;
	left:45%;
	top:95vh;
	font-size:1.5vh;
	background:none;
}
nav ul li{
	width:30vh;
	list-style:none;
	margin:7vh 7vh;


}
nav ul li a{
	text-decoration:none;
	color:darkblue;
	font-size:2vh;
	
	 
	
	
}
#si{
	width:100%;
	height:65%;
	position:fixed;
	right:-300%;
	top:0vh;
	z-index:2;
	background:white;
	transition:.7s;
	
}
#me{
	width:13%;
	position:fixed;
	left:88%;
	top:0vh;
	z-index:2;
	color:blue;
	cursor:pointer;
}
.g img{
	width:45%;
	position:absolute;
	left:1vh;
	top:1vh;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:0.5vh solid white;
	border-radius:20px;
}
.line {
	width:85%;
	height:1vh;
	position:absolute;
	bottom:0;
	left:10vh;
	top:60vh;
	right:0;
	font-size:2vh;
	color:red;
	z-index:2;
	animation:line 20s linear infinite;
	
}
	@keyframes line{
		100%{
			
			transform:translatex(-50vh);
		}
	}
}
	
}
	
	
