body{
	margin:0;
	padding:0;
	font-family:san-serif;
	background:white;
}
#ad{
	width:100vh;
	height:10vh;
	
}

.messi{
	background:white;
}
.messi img{
	width:70vh;
	height:70vh;
	position:absolute;
	left:13vh;
	top:16vh;
	display:white;
	font-size:10vh;
	background:white;
	border-radius:10vh;
	
}
.r img{
	width:200vh;
	position:center;
}
.g img{
	width:30vh;
	position:absolute;
	left:120vh;
	top:35vh;
	display:white;
	background:none;
}
.text h5{
	width:60vh;
	height:10vh;
	position:absolute;
	left:105vh;
	top:45vh;
	font-size:3vh;
	display:white;
	background:white;
}
.next h4{
	width:25vh;
	height:8vh;
	position:absolute;
	left:120vh;
	top:68vh;
	font-size:2vh;
	text-align:center;
	color:white;
	background:black;
}


.fix h2{
	width:30vh;
	position:absolute;
	left:100vh;
	top:16vh;
	display:blue;
	font-size:3vh;
	background:none;
	font-size-adjust:10vh;
}
.lea h2{
	width:20vh;
	position:absolute;
	left:130vh;
	top:16vh;
	display:blue;
	font-size:3vh;
	background:none;
}
.play h2{
	width:30vh;
	position:absolute;
	left:155vh;
	top:16vh;
	font-size:3vh;
	display:blue;
	background:none;
}

.na h3{
	width:18vh;
	position:absolute;
	left:100vh;
	top:90vh;
	font-size:3vh;
	background:none;
}

@media screen and (max-width:800vh)

{


.messi img{
	width:66.5vh;
	height:50vh;
	position:absolute;
	left:0vh;
	top:0vh;
	display:white;
	background:white;
	border-radius:10px;
	
}
.r img{
	width:0vh;
	}
	
.next h4{
	width:20vh;
	height:7vh;
	position:absolute;
	left:22vh;
	top:82vh;
	text-align:center;
	color:white;
	font-size:2vh;
	background:black;
}


.fix h2{
	width:30vh;
	position:absolute;
	left:2vh;
	top:52vh;
	display:blue;
	font-size:3vh;
	background:none;
}
.lea h2{
	width:30vh;
	position:absolute;
	left:28vh;
	top:52vh;
	display:blue;
	font-size:3vh;
	background:none;
}
.play h2{
	width:10vh;
	position:absolute;
	left:49vh;
	top:52vh;
	font-size:3vh;
	display:blue;
	background:none;
}
.g img{
	width:30vh;
	position:absolute;
	left:15vh;
	top:64vh;
	display:white;
	background:none;
}
.text h5{
	width:50vh;
	height:7vh;
	position:absolute;
	left:9vh;
	top:68vh;
	display:white;
	font-size:2.5vh;
	background:white;
}
.na h3{
	width:18vh;
	position:absolute;
	left:28vh;
	top:95vh;
	font-size:2vh;
	background:none;
}
}
	
