body{
	margin:20vh 1vh;
	padding:5vh;
	font-family:san-serif;
	background:white;
}
.g img{
	width:40vh;
	position:absolute;
	left:1vh;
	top:2vh;
	display:white;
	background:none;
	border-radius:20vh;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}
.line1{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:3vh;
   top:15vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line1 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line1 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line1 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line1 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line1 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
.line2{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:3vh;
   top:35vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line2 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line2 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line2 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line2 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line2 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
.line3{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:55vh;
   top:15vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line3 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line3 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line3 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line3 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line3 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
.line4{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:55vh;
   top:35vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line4 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line4 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line4 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line4 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line4 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
@media screen and (max-width:700px)
{
.g img{
	width:45%;
	position:absolute;
	left:1vh;
	top:1vh;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:0.5vh solid white;
	border-radius:20px;
}	
.line1{
   width:93%;	
   height:26vw;
   position:absolute;
   left:3vw;
   top:15vw;
   border-radius:5vw;
   background-image:linear-gradient(to right,black,black,black,red);
}
.line1 p{
	width:50vw;
	position:absolute;
	left:5vw;
	top:0vw;
	color:white;
	font-size:3vw;
}
.line1 h6{
	width:20vw;
	position:absolute;
	left:8vw;
	top:14vw;
	color:red;
	font-size:3vw;
}
.line1 h3{
	width:25vw;
	position:absolute;
	left:1vw;
	top:1vw;
	font-size:4.2vw;
	color:white;
}
.line1 h4{
	width:25vw;
	position:absolute;
	left:60vw;
	top:2vw;
	font-size:4.2vw;
	color:silver;
}
.line1 em{
	width:20vw;
	position:absolute;
	left:77vw;
	top:2vw;
	font-size:3vw;
	color:blue;
}

.line2{
   width:93%;	
   height:26vw;
   position:absolute;
   left:3vw;
   top:42vw;
   border-radius:5vw;
   background-image:linear-gradient(to right,black,black,black,red);
}
.line2 p{
	width:50vw;
	position:absolute;
	left:5vw;
	top:0vw;
	color:white;
	font-size:3vw;
}
.line2 h6{
	width:20vw;
	position:absolute;
	left:8vw;
	top:14vw;
	color:red;
	font-size:3vw;
}
.line2 h3{
	width:25vw;
	position:absolute;
	left:1vw;
	top:1vw;
	font-size:4.2vw;
	color:white;
}
.line2 h4{
	width:25vw;
	position:absolute;
	left:60vw;
	top:2vw;
	font-size:4.2vw;
	color:silver;
}
.line2 em{
	width:20vw;
	position:absolute;
	left:77vw;
	top:2vw;
	font-size:3vw;
	color:blue;
}
.line3{
   width:93%;	
   height:26vw;
   position:absolute;
   left:3vw;
   top:69vw;
   border-radius:5vw;
   background-image:linear-gradient(to right,black,black,black,red);
}
.line3 p{
	width:50vw;
	position:absolute;
	left:5vw;
	top:0vw;
	color:white;
	font-size:3vw;
}
.line3 h6{
	width:20vw;
	position:absolute;
	left:8vw;
	top:14vw;
	color:red;
	font-size:3vw;
}
.line3 h3{
	width:25vw;
	position:absolute;
	left:1vw;
	top:1vw;
	font-size:4.2vw;
	color:white;
}
.line3 h4{
	width:25vw;
	position:absolute;
	left:60vw;
	top:2vw;
	font-size:4.2vw;
	color:silver;
}
.line3 em{
	width:20vw;
	position:absolute;
	left:77vw;
	top:2vw;
	font-size:3vw;
	color:blue;
}
.line4{
   width:93%;	
   height:26vw;
   position:absolute;
   left:3vw;
   top:96vw;
   border-radius:5vw;
   background-image:linear-gradient(to right,black,black,black,red);
}
.line4 p{
	width:50vw;
	position:absolute;
	left:5vw;
	top:0vw;
	color:white;
	font-size:3vw;
}
.line4 h6{
	width:20vw;
	position:absolute;
	left:8vw;
	top:14vw;
	color:red;
	font-size:3vw;
}
.line4 h3{
	width:25vw;
	position:absolute;
	left:1vw;
	top:1vw;
	font-size:4.2vw;
	color:white;
}
.line4 h4{
	width:25vw;
	position:absolute;
	left:60vw;
	top:2vw;
	font-size:4.2vw;
	color:silver;
}
.line4 em{
	width:20vw;
	position:absolute;
	left:77vw;
	top:2vw;
	font-size:3vw;
	color:blue;
}
)
