body{
	margin:20vh 1vh;
	padding:5vh;
	font-family:san-serif;
	background:white;
}
.g img{
	width:40vh;
	position:absolute;
	left:1vh;
	top:2vh;
	display:white;
	background:none;
	border-radius:20vh;
	box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
}
.line1{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:3vh;
   top:15vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line1 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line1 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line1 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line1 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line1 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
.line2{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:3vh;
   top:35vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line2 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line2 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line2 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line2 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line2 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
.line3{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:55vh;
   top:15vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line3 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line3 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line3 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line3 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line3 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
.line4{
   width:50vh;	
   height:16vh;
   position:absolute;
   left:55vh;
   top:35vh;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line4 p{
	width:30vh;
	position:absolute;
	left:5vh;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line4 h6{
	width:25vh;
	position:absolute;
	left:6vh;
	top:9vh;
	color:red;
}
.line4 h3{
	width:17vh;
	margin-left:5vh;
	margin-top:5vh;
	color:white;
}
.line4 h4{
	width:17vh;
	position:absolute;
	left:30vh;
	top:2vh;
	color:white;
}
.line4 em{
	width:10vh;
	position:absolute;
	left:40vh;
	top:1vh;
	color:white
}
@media screen and (max-width:100vh)
{
.g img{
	width:45%;
	position:absolute;
	left:1vh;
	top:1vh;
	display:white;
	 box-shadow: 10px 10px 20px #F7DFDE, -10px -10px 20px #F7DFDE;
	background:none;
	border:0.5vh solid white;
	border-radius:20px;
}	
.line1{
   width:95%;	
   height:16%;
   position:absolute;
   left:3%;
   top:10%;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line1 p{
	width:50%;
	position:absolute;
	left:5%;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line1 h6{
	width:12%;
	position:absolute;
	left:12%;
	top:50%;
	color:red;
	font-size:2vh;
}
.line1 h3{
	width:17%;
	margin-left:10%;
	margin-top:11%;
	font-size:2vh;
	color:white;
}
.line1 h4{
	width:17%;
	position:absolute;
	left:55%;
	top:5%;
	font-size:2vh;
	color:white;
}
.line1 em{
	width:20%;
	position:absolute;
	left:85%;
	top:5%;
	font-size:2vh;
	color:white
}

.line2{
   width:95%;	
   height:16%;
   position:absolute;
   left:3%;
   top:27%;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line2 p{
	width:50%;
	position:absolute;
	left:5%;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line2 h6{
	width:12%;
	position:absolute;
	left:12%;
	top:50%;
	color:red;
	font-size:2vh;
}
.line2 h3{
	width:17%;
	margin-left:10%;
	margin-top:11%;
	font-size:2vh;
	color:white;
}
.line2 h4{
	width:17%;
	position:absolute;
	left:55%;
	top:5%;
	font-size:2vh;
	color:white;
}
.line2 em{
	width:10%;
	position:absolute;
	left:85%;
	top:5%;
	font-size:2vh;
	color:white
}
.line3{
   width:95%;	
   height:16%;
   position:absolute;
   left:3%;
   top:44%;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line3 p{
	width:50%;
	position:absolute;
	left:5%;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line3 h6{
	width:10%;
	position:absolute;
	left:12%;
	top:50%;
	color:red;
	font-size:2vh;
}
.line3 h3{
	width:17%;
	margin-left:10%;
	margin-top:11%;
	font-size:2vh;
	color:white;
}
.line3 h4{
	width:30%;
	position:absolute;
	left:55%;
	top:5%;
	font-size:2vh;
	color:white;
}
.line3 em{
	width:10%;
	position:absolute;
	left:85%;
	top:5%;
	font-size:2vh;
	color:white
}
.line4{
   width:95%;	
   height:16%;
   position:absolute;
   left:3%;
   top:61%;
   border-radius:5vh;
   background:rgba(0,0,0,0.5);
}
.line4 p{
	width:50%;
	position:absolute;
	left:5%;
	top:0vh;
	color:white;
	font-size:2vh;
}
.line4 h6{
	width:10%;
	position:absolute;
	left:12%;
	top:50%;
	color:red;
	font-size:2vh;
}
.line4 h3{
	width:17%;
	margin-left:10%;
	margin-top:10%;
	font-size:2vh;
	color:white;
}
.line4 h4{
	width:17%;
	position:absolute;
	left:55%;
	top:5%;
	font-size:2vh;
	color:white;
}
.line4 em{
	width:10%;
	position:absolute;
	left:85%;
	top:5%;
	font-size:2vh;
	color:white
}
)
